@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-background: #0b0c10;
  --color-primary: #0D3F48;
  --color-primary-foreground: #ffffff;
  --color-accent: #0f172a;
  --color-accent-foreground: #f9fafb;
  --color-sidebar-ring: #334155;
}